<h1>Editing task</h1>

<%= error_messages_for :task %>

<% form_for(@task) do |f| %>
  <p>
    <b>Short description</b><br />
    <%= f.text_area :short_description, :cols => 80, :rows => 5 %>
  </p>

  <p>
    <b>Full description</b><br />
    <%= f.text_area :full_description, :cols => 80, :rows => 25 %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
