<div id="general">
<p>
  <b>Task:</b>
  <%=h @step.task_id %>
</p>

<p>
  <b>Description:</b>
  <%=h @step.description %>
</p>

<p>
  <b>Created at:</b>
  <%=h @step.created_at %>
</p>


<p>
  <b>Last updated at:</b>
  <%=h @step.updated_at %>
</p>
</div>
