<div id="general">
<p>
  <b>Task:</b>
  <%= link_to @step.task.number, :controller => :tasks, :action => :show, :id => @step.task_id %>
</p>

<p>
  <b>Description:</b>
  <%= RedCloth.new(@step.description).to_html %>
</p>

<p>
  <b>Created at:</b>
  <%=h nice_date(@step.created_at) %>
</p>


<p>
  <b>Last updated at:</b>
  <%=h nice_date(@step.updated_at) %>
</p>
</div>
